.todo__welcome {
  margin-bottom: 25px;
}

.todo__tools {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 15px;
}

.todo__tools_second {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  gap: 15px;
}

.todo__tools_second > :not(.todo__tools_second_label) {
  grid-column: span 2;
}

.todo__tools_second > :not(.todo__tools_second_label) button {
  width: 100%;
}

.todo__tools_second > .todo__tools_second_label {
  grid-column: span 4;
}

.label {
  background-color: var(--color-primary);
  color: white;
  padding: 2px 6px;
  font-size: 10px;
  border-radius: 4px;
}

.todo__wrapper {
  padding-top: 40px;
}

.todo__wrapper > * + * {
  margin-top: 20px;
}

.todo__wrapper_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.todo__wrapper_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
  border: 0.5px solid #dadada;
  background-color: white;
  border-radius: 15px;
}


.todo__wrapper_item > * + * {
  margin-top: 10px;
}

.todo__wrapper_item_checkbox {
  display: flex;
  justify-content: space-between;
}

.todo__wrapper_item_checkbox > * + * {
  margin-left: 20px;
}

.todo__wrapper_item_metadata > * + * {
  margin-top: 4px;
}

.todo__wrapper_item_buttons * {
  font-size: 18px;
}

.todo__wrapper_item_buttons > * + * {
  margin-left: 10px;
}

@media only screen and (max-width: 1280px) {
  .todo__tools_second,
  .todo__tools,
  .todo__wrapper_grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .todo__tools_second > * {
    grid-column: span 1 !important;
  }
}

@media only screen and (max-width: 800px) {
  .todo__tools,
  .todo__wrapper_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .todo__tools_second > .todo__tools_second_label {
    grid-column: span 2;
  }
}

@media only screen and (max-width: 400px) {
  .todo__tools,
  .todo__wrapper_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
