@import "./modifier.css";
@import "./components/dialog.css";
@import "./components/banner.css";
@import "./components/input-form.css";
@import "./components/todo-item.css";

:root {
  --color-primary: #0b5afa;
  --color-primary-dark: #0056b3;
  --color-secondary: #4b4b4b;
  --color-danger: red;
  --color-danger-dark: darkred;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: white;
}

.wrapper > * > * {
  max-width: 1280px;
  margin: 0 auto;
}

.main__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main__body {
  padding: 40px 0;
  background-color: #f8f8f8;
  min-height: 90vh;
}

@media only screen and (max-width: 1280px) {
  .wrapper > * > * {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 400px) {
  .wrapper > * > * {
    padding: 0 20px;
  }
}
