.color-secondary {
  color: var(--color-secondary);
}

.color-danger {
  color: var(--color-danger);
}

.text-xl {
  font-size: 20px;
}

.text-sm {
  font-size: 14px;
}

.text-xs {
  font-size: 10px;
}

.font-semibold {
  font-weight: 600;
}

.line-through {
  text-decoration: line-through;
}

.checkbox-completed {
  font-size: 28px;
  color: var(--color-primary);
}
