.color-secondary {
  color: #4b4b4b;
}

.text-xl {
  font-size: 20px;
}

.text-sm {
  font-size: 14px;
}

.font-semibold {
  font-weight: 600;
}

.line-through {
  text-decoration: line-through;
}

.checkbox-completed {
  font-size: 28px;
  color: #0b5afa;
}
